#标题
kconfig: lxdialog: 菜单配置中空格键无法选中和取消选中选项

#内核版本
OLK-6.6

#问题现象
在使用 `menuconfig` 进行内核配置时，如果菜单中包含以非字母非数字字符（如 `-` 或 `*`）开头的注释行，按下空格键无法对当前高亮的选项进行选中或取消选中操作。相反，空格键被错误地当作快捷键，导致光标跳转到以空格开头（或符合特定跳转逻辑）的注释行，功能响应异常。

#主要错误日志
未知

#问题根因
在 `scripts/kconfig/lxdialog/menubox.c` 的键盘事件处理逻辑中，程序将空格键（space）视为普通的字符输入，用于跳转到以该字符开头的菜单项。由于空格被误判为跳转快捷键而非操作键，导致其无法触发原本应有的选项选中/取消选中功能。

#解决方案
修改 `menubox.c` 文件中的 `dialog_menu` 函数，将空格字符添加到操作键判定字符串中（由 `"ynmh"` 修改为 `"ynmh "`）。这使得空格键被正确识别为动作触发键，从而修复了无法通过空格键切换选项状态的问题。

#来源
https://atomgit.com/openeuler/kernel/commit/c8c3a4d2f4ec1b91292a02cd98b389dcc72f8bfb